@import "tailwindcss";

/* Preline UI */
@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
/* @plugin "@tailwindcss/forms"; */
/* @plugin "@tailwindcss/typography"; */


@theme {

    --font-body: 'Roboto Flex Variable', sans-serif;
    --font-head: 'Roboto Flex Variable', sans-serif;

}

@layer base {

    @import './tipografia.css';

    /* Preline suggestion: Adds pointer cursor to buttons */
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

}

/* Preline suggestion: Defaults hover styles on all devices */
@custom-variant hover (&:hover);