---
import { 
	ejemplo, colors
	// } from '@components/data.mjs'; // si son objetos procesados por indexer
	} from '@config/comps/ejemplo.mjs'; // si son objetos sin procesar

const props = set_props({
	color: ejemplo.color,
	...Astro.props
	});

function set_props (input) {
	console.log(input)
	let color = 'green' in input ? 'bg-green-800 text-green-100' : colors[input.color]
	return {
		divclass: ["p-8 text-xl font-semibold", color].join(" ")
	}
};

---
<div class={ props.divclass }><slot/></div>