---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import holofractal from '../assets/holofractal.png';

const seo = {

  title: "Inicio",
  description: "Un starter para sitios web simples.",

}
---

<BaseLayout seo={seo}>

  <h1 class="text-3xl font-bold mb-5">
    Creando starter para sitios web simples.
    <Icon 
      name="material-symbols:bolt-outline" 
      class="fill-current text-yellow-400 inline align-middle" />
  </h1>
  <Image src={holofractal} alt="Logo de Holofractal" width="300"/>

</BaseLayout>