---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout>
  <Header />
  <main style="padding: 2rem; text-align:center;">
    <h2>Este es un starter universal para sitios web simples.</h2>
    <p class="text-blue-600">¡Tailwind funciona!</p>
  </main>
</BaseLayout>