---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components';

/*
ACLARAR para Icon

Estilización fácil: puedes cambiar tamaño, color usando props o clases Tailwind (class="text-white").

Soporte para Iconify: puedes usar sets de Iconify como name="mdi:account". 

*/

---

<header class="bg-blue-600 text-white p-4 flex items-center space-x-2">
  <Icon name="holofractal" width={128} height={128} />
  <h1 class="text-3xl font-bold">{title}</h1>
</header>