---
import "../styles/global.css";
import { SITE } from '../config/site.js';

// SEO
import { SEO } from 'astro-seo';
import { getSeoData } from '../utils/seo.js'
const { seo = {} } = Astro.props.frontmatter || Astro.props;
const seoData = getSeoData(seo);

---
<html lang={ SITE.lang }>
  <head>
    <SEO { ...seoData } />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>

  <!-- Optional Preline plugins 
  <script is:inline src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script is:inline src="./assets/vendor/lodash/lodash.js"></script>
  <script is:inline src="./assets/vendor/datatables.net/js/dataTables.min.js"></script>
  <script is:inline src="./assets/vendor/dropzone/dist/dropzone-min.js"></script>
  <script is:inline src="./assets/vendor/nouislider/dist/nouislider.min.js"
  ></script>
  <script is:inline src="./assets/vendor/vanilla-calendar-pro/index.js"></script> 
  -->
  <!-- Preline UI -->
  <script>import "preline/dist/preline.js";</script>
  <!-- <script is:inline src="./assets/vendor/preline/dist/index.js">
    // Astro workaround for Preline above
  </script> -->

</html>