---
import Base from '@layouts/Base.astro';
---
<Base 
	seo={{title:'SANDBOX'}} 
	body="bg-gray-800 text-white">
{/*****************************************/}



<section class="p-10">
	<h1 class="bg-cyan-700 text-xl font-semibold p-4 mb-4 rounded">
	Fun Facts About Animals That Will Blow Your Mind
	</h1>
	
	<div class="bg-gray-700 
		h-140 border-2 border-gray-300
		flex flex-row flex-wrap justify-start content-stretch gap-2
		*:bg-emerald-700 *:p-4 *:rounded 
		">
		<p class="">Polar bears have black skin.</p>
		<p class="">Chinese water deer swim island to island.</p>
		<p class="">The bat is the only mammal that can fly.</p>
		{/* 
		<p class="">Narwhal tusks are really an "inside out" tooth.</p>
		<p class="">Gorillas can catch human colds and other illnesses.</p>
		<p class="">A grizzly bear's bite is strong enough to crush a bowling ball.</p>
		<p class="">Snakes only eat animals.</p>
		<p class="">Pigeons can do math.</p>
		<p>A group of ferrets is called a business.</p>
		<p>A group of owls is called a parliament.</p>
		<p>A group of rhinos is called a crash.</p>
		*/}
	</div>
</section>





{/*****************************************/}
</Base>