---
import Base from '@layouts/Base.astro';
---
<Base 
	seo={{title:'SANDBOX'}} 
	body="bg-gray-800 text-white h-screen">
{/*****************************************/}



<section class="flex flex-col justify-stretch p-10 min-h-full">
	<h1 class="bg-cyan-700 text-xl font-semibold p-4 mb-4 rounded">
		Fun Facts About Animals That Will Blow Your Mind
	</h1>
	<!-- <div class="bg-gray-700 border-2 border-gray-300 rounded
		*:bg-emerald-700 *:p-4 *:rounded *:border-2 *:border-emerald-800
		grid gap-2 grid-cols-[1fr_2fr_3fr] grid-rows-3 
		grid-flow-col auto-cols-[2fr]
		flex-auto
		">	 -->
	<div class="bg-gray-700 border-2 border-gray-300 rounded
		*:bg-emerald-700 *:p-4 *:rounded *:border-2 *:border-emerald-800
		grid gap-2 grid-cols-3 auto-rows-fr
		flex-auto
		">
	
		<p class="">Polar bears have black skin.</p>
		<p class="">Chinese water deer swim island to island.</p>
		<p class="">The bat is the only mammal that can fly.</p>
		<p class="">Narwhal tusks are really an "inside out" tooth.</p>
		<p class="">Gorillas can catch human colds and other illnesses.</p>
		<p class="">A grizzly bear's bite is strong enough to crush a bowling ball.</p>
		<p class="">Snakes only eat animals.</p>
		<p class="">Pigeons can do math.</p>
		<p class="">A group of ferrets is called a business.</p>
		<p class="">A group of owls is called a parliament.</p>
		<p class="">A group of rhinos is called a crash.</p>
		{/* 
		*/}
	</div>

</section>




















{/*****************************************/}
</Base>